:root{
    --primary: #0077ff;
    --secondary: #333333;
    --white-accent: #f5f5f5;
    --bg: #fdfdfd;
    --focus-ring-color: rgba(102, 163, 255, 0.938);
    --focus-ring-bg: rgba(102, 163, 255, 0.06);
    --focus-ring-offset: 3px;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}