:root{
    --primary: #0077ff;
    --secondary: #333333;
    --white-accent: #f5f5f5;
    --bg: #fdfdfd;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}