.list-wrapper{
    color: var(--secondary);
    margin-left: 20px;
    .tabs{
        display: flex;
        margin-bottom: 1rem;
        .tab{
            padding: 0.5rem 1rem;
            box-sizing: border-box;
            cursor: pointer;
            border: 1px solid var(--secondary);
            transition: all 0.3s;
            font-size: 20px;
            border-radius: 2px;
            min-width: 150px;
            text-align: center;
            &.active{
                background-color: var(--secondary);
                color: var(--white-accent);
                z-index: 1;
                scale: 1.2 !important;
            }
            &:hover{
                background-color: var(--secondary);
                color: var(--white-accent);
                scale: 1.1;
            }
        }
    }
}
